.jumbotron {
	text-align: center;
	margin: 20px;
	background: url(kuvat/aloitus2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
}
.btn {
	margin: 10px;
}
.card {
	text-align: center;
	border: none;
	color: black;
}
.img-fluid {
	width: 605px;
}
.rounded {
	margin: 6px 15px 15px 6px;
}
.border {
	border: none;
	padding: 5px;
	text-align: center;
	background-color: gray;
	margin-top: 30px;
}
.border-center {
	text-align: center;
	background-color: black;
	border: none;
	padding: 30px;
	margin-top: 10px;
}

.carousel-caption {
	color: black;
	text-shadow: 5px 5px 10px red;
}
fieldset {
	margin-left: 20px;
}
input[type=submit] {
	background-color: gray;
	color: white;
}
body {
	background-image: url(kuvat/background2.jpg);
	color: white;
}
p {
	font-size: 20px;
}

@media only screen and (max-width: 800px) {
	  body {
		  background-image: none;
	    background-color: black;
		
	  }
}
