body {
	background-color: pink;
	color: black;
}

h1 {
	font-size: 20px;
}

p {
	font-size: 12px;
}
.header {
	border: dotted;
	border-width: 2px;
	width: 100px;
	height: 100px;
}

.letters {
	list-style-type: lower-alpha;
}

.squares {
	list-style-type: square;
}

.otsikot {
	background-color: white;
	width: 300px;
	height: 50px;
	border-style: none none none solid;
	padding-top: 30px;
}

.tekstit {
	background-color: white;
	border-radius: 25px;
	margin: 15px 15px 15px 0px;
	padding-left: 15px;
}

.linkit {
    float: right;
}
 
