body {
	background-color: black;
	color: white;
}

h1 {
	font-size: 20px;
}

p {
	font-size: 12px;
	color: green;
}
.header {
	border: dotted;
	border-width: 2px;
	width: 100px;
	height: 100px;
}

.letters {
	list-style-type: lower-alpha;
}

.squares {
	list-style-type: square;
}